run:
- train
- test
cutoff_radius: 5.0
model_type_names:
- Li
- La
- Zr
- O
chemical_species: ${model_type_names}
data:
  _target_: nequip.data.datamodule.ASEDataModule
  seed: 0
  split_dataset:
    file_path: dataset/train.extxyz
    train: 0.8
    val: 0.1
    test: 0.1
  transforms:
  - _target_: nequip.data.transforms.ChemicalSpeciesToAtomTypeMapper
    model_type_names:
    - Li
    - La
    - Zr
    - O
  - _target_: nequip.data.transforms.NeighborListTransform
    r_max: 5.0
  stats_manager:
    _target_: nequip.data.CommonDataStatisticsManager
    type_names:
    - Li
    - La
    - Zr
    - O
    dataloader_kwargs:
      batch_size: 32
  train_dataloader:
    _target_: torch.utils.data.DataLoader
    batch_size: 4
    shuffle: true
    num_workers: 4
  val_dataloader:
    _target_: torch.utils.data.DataLoader
    batch_size: 4
    num_workers: 4
  test_dataloader:
    _target_: torch.utils.data.DataLoader
    batch_size: 4
    num_workers: 4
trainer:
  _target_: lightning.Trainer
  max_epochs: 5
  log_every_n_steps: 5
  callbacks:
  - _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: ${hydra:runtime.output_dir}
    save_last: true
num_scalar_features: 64
training_module:
  _target_: nequip.train.EMALightningModule
  loss:
    _target_: nequip.train.EnergyForceLoss
    per_atom_energy: true
    coeffs:
      total_energy: 1.0
      forces: 1.0
  val_metrics:
    _target_: nequip.train.EnergyForceMetrics
    coeffs:
      per_atom_energy_mae: 1.0
      forces_mae: 1.0
  test_metrics: ${training_module.val_metrics}
  optimizer:
    _target_: torch.optim.Adam
    lr: 0.001
  model:
    _target_: allegro.model.AllegroModel
    compile_mode: compile
    seed: 456
    model_dtype: float32
    type_names: ${model_type_names}
    r_max: ${cutoff_radius}
    radial_chemical_embed:
      _target_: allegro.nn.TwoBodyBesselScalarEmbed
      num_bessels: 8
      bessel_trainable: false
      polynomial_cutoff_p: 6
    radial_chemical_embed_dim: ${num_scalar_features}
    scalar_embed_mlp_hidden_layers_depth: 1
    scalar_embed_mlp_hidden_layers_width: ${num_scalar_features}
    scalar_embed_mlp_nonlinearity: silu
    l_max: 1
    num_layers: 2
    num_scalar_features: ${num_scalar_features}
    num_tensor_features: 32
    allegro_mlp_hidden_layers_depth: 1
    allegro_mlp_hidden_layers_width: ${num_scalar_features}
    allegro_mlp_nonlinearity: silu
    parity: true
    tp_path_channel_coupling: true
    readout_mlp_hidden_layers_depth: 1
    readout_mlp_hidden_layers_width: ${num_scalar_features}
    readout_mlp_nonlinearity: silu
    avg_num_neighbors: ${training_data_stats:num_neighbors_mean}
    per_type_energy_shifts: ${training_data_stats:per_atom_energy_mean}
    per_type_energy_scales: ${training_data_stats:forces_rms}
    per_type_energy_scales_trainable: false
    per_type_energy_shifts_trainable: false
    pair_potential:
      _target_: nequip.nn.pair_potential.ZBL
      units: real
      chemical_species: ${chemical_species}
_sg_note:
  dataset_path_expected: dataset/train.extxyz
  type_names:
  - Li
  - La
  - Zr
  - O
  edited: tools/allegro_tutorial.yaml
r_max: 5.0
